# MongoDB
MONGODB_URI=MONGODB_URI=mongodb+srv://ayushsinghce:Ayushce%401@backendlearningcluster.xtoupdp.mongodb.net/


# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bWFnaWNhbC1kcmFrZS05OS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_kmnqxqiOo41Rw0qYm3L9MboS6hfekkI1amOTUaIuhJ
CLERK_WEBHOOK_SECRET=whsec_reZR6pjYh9N8Igg68bWmV2sOT3NPuq1f

# Razorpay
RAZORPAY_KEY_ID=rzp_test_SQOcesdSoIxIdW
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_SQOcesdSoIxIdW  
RAZORPAY_KEY_SECRET=fYkCorMT74x0eW4g4WfuOeMX
RAZORPAY_WEBHOOK_SECRET=rzp_webhook_secret

# Brevo (Email)
BREVO_API_KEY=xkeysib-...

EMAIL_USER=amarjeet930535@gmail.com
EMAIL_PASS=shlmkrpjaysqemcv

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=amarjeet930535@gmail.com
SMTP_PASS=hpnfwasztqpacyld

# Telegram Bot
TELEGRAM_BOT_TOKEN=1234567890:AA...

# Base URL (for callbacks/redirects)
NEXT_PUBLIC_APP_URL=http://localhost:3000


# Base URL (for callbacks/redirects)
NEXT_PUBLIC_APP_URL=http://localhost:3000
